%section.group-show-layout
  %strong
    NAME
  %br
  %p= link_to group.title.upcase, group_path(group.id)
  %br
  %strong
    ABOUT
  %br
  %p= group.about
  %br
  %strong
    ADDRESS
    %br
  %p= group.location.try(:formatted_address)

  - if group.members.include? user
    %button.joined{ disabled: true} Joined
  - else
    %button.join-me{ data: { group_id: group.id } } Join me
