<h1>Welcome to the home page</h1>

<div id="DIV_1">
  <div id="DIV_2">
    <div id="DIV_3">
      <div id="DIV_4">
        <h1 id="H1_5">
          WE SEND GLITTER TO THE PEOPLE YOU HATE.
        </h1>
        <p id="P_6">
          Glitter as a Service: want to piss off someone you dislike for only $9.99? Let us send them some stupid fucking glitter that is guaranteed to go everywhere.
        </p>
        <div id="DIV_7">
          <a href="#contact" id="A_8"><input type="button" value="Buy Now" id="INPUT_9" /></a>
        </div>
      </div>
    </div>
  </div>
</div>
