<div id="DIV_3">
  <div class="row">
    <div class="col-md-3">
    </div>
    <div class=" col-md-6 testin">
      <h3 class="box-title">
        Update 0.1.1
      </h3>
      <footer></footer>
      <p class="box-title">
        Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular during the Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.
      </p>
    </div>
  </div>

  <div class="row" id="DIV_3">
    <div class="col-md-3">
    </div>
    <div class=" col-md-6 testin">
      <h3 class="box-title">
        WOW WHAT A TITLE
      </h3>
      <footer></footer>
      <p class="box-title">
        Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular during the Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.
      </p>
    </div>
  </div>

  <div class="row" id="DIV_3">
    <div class="col-md-3">
    </div>
    <div class=" col-md-6 testin">
      <h3 class="box-title">
        WOW WHAT A TITLE
      </h3>
      <footer></footer>
      <p class="box-title">
        Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular during the Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.
      </p>
    </div>
  </div>
</div>

<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox" id="DIV_3">
    <div class="item active">
      <div class="row" id="DIV_3">
        <div class="col-md-3">
        </div>
        <div class=" col-md-6 testin">
          <h3 class="box-title">
            SIGN UP
          </h3>
          <footer></footer>
          <p class="box-title">
            <%= image_tag "sign_up.svg", class: "img-responsive" %>
          </p>
        </div>
      </div>
      <div class="carousel-caption">
      </div>
    </div>

    <div class="item">
      <div class="row" id="DIV_3">
        <div class="col-md-3">
        </div>
        <div class=" col-md-6 testin">
          <h3 class="box-title">
            SEARCH
          </h3>
          <footer></footer>
          <p class="box-title">
            <%= image_tag "search.svg", class: "img-responsive" %>
          </p>
        </div>
      </div>
      <div class="carousel-caption">
      </div>
    </div>

    <div class="item">
      <div class="row" id="DIV_3">
        <div class="col-md-3">
        </div>
        <div class=" col-md-6 testin">
          <h3 class="box-title">
            SETTLE IT
          </h3>
          <footer></footer>
          <p class="box-title">
            <%= image_tag "versus.svg", class: "img-responsive" %>
          </p>
        </div>
      </div>
      <div class="carousel-caption">
      </div>
    </div>
  </div>

  <!-- Controls -->
  <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
