<h1>Welcome to the home page</h1>

<div id="DIV_1">
  <div id="DIV_2">
    <%= image_tag("glitter.jpg", id: "IMG_3", :alt => "") %>
    <!-- <img src="/images/banner.jpg" id="IMG_3" alt='' /> -->
    <div id="DIV_3">
      <div id="DIV_4">
        <h1 id="H1_5">
          BIG OL' TEST MESSAGE
        </h1>
        <p id="P_6">
          Glitter as a Service: Or is it? LOREM IPSUM BLAH BLAH BLAH BLAHBLABHABLASDFASDCFAC
        </p>
        <div id="DIV_7">
          <a href="#contact" id="A_8"><input type="button" value="Buy Now" id="INPUT_9" /></a>
        </div>
      </div>
    </div>
  </div>
</div>
