 @import "bootstrap-sprockets";
 @import "bootstrap";

 .img-footer {
   max-width: 2em;
   max-height: 2em;
   margin-right: .5em;
 }

 footer {
   padding: 1em 0;
   margin-top: 1em;
   border-top: 1px solid #ccc;
 }
 
